{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps,
 [
  %% Fixing a ranch SSL bug
  fifo_lager,
  {bugsnag, {pkg, bugsnag_erl}},
  fifo_dt,
  libsniffle,
  libchunter,
  {erldns, ".*", {git, "https://github.com/project-fifo/erl-dns.git", {branch, "custom-zones"}}},
  {erldns, ".*", {git, "https://github.com/project-fifo/erl-dns.git", {branch, "rebar3"}}},
  fifo_utils,
  eper,
  recon
 ]}.

{project_plugins, [{rebar3_cuttlefish, "~>0.16.0"}]}.

%% Cuttlefish config
{cuttlefish,
 [{file_name, "fifo_dns.conf.example"},
  {schema_discovery, false}]}.

{profiles,
 [
  {darwin, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]},
  {freebsd, [{relx, [{dev_mode, false},
                     {overlay_vars, "rel/vars/freebsd.config"},
                     {include_erts, true}]}]},
  {smartos, [{relx, [{dev_mode, false},
                     {include_erts, true}]}]},
  {lint,  [{plugins, [rebar3_lint]}]},
  {dev,  [{plugins, [rebar3_auto]}]}
 ]
}.

{overrides,
 [
  {override, dns,
   [{plugins, [{provider_asn1, ".*", {git, "https://github.com/knusbaum/provider_asn1.git", {tag, "0.1.1"}}}]},
    {provider_hooks, [{pre, [{compile, asn}]}]}]}]}.

{dialyzer, [{warnings, [underspecs]}]}.

{relx,
 [{release, {fifo_dns, "0.9.3"},
   [
    sasl,
    fifo_dns,
    %% Runtime tools
    {recon, load},
    {eper, load}
   ]},

  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {mkdir, "share"},

    {template, "share/fifo_dns.xml", "share/fifo_dns.xml"},
    {template, "share/fifo.zone.json", "etc/fifo.zone.json.example"},

    {template, "schema/fifo_dns.schema", "share/schema/00-fifo_dns.schema"},
    {template, "schema/erldns.schema", "share/schema/01-erldns.schema"},
    {template, "_build/default/lib/bugsnag/priv/bugsnag.schema", "share/schema/02-bugsnag.schema"},
    {template, "_build/default/lib/fifo_utils/priv/erlang_vm.schema", "share/schema/03-vm.schema"},
    {template, "_build/default/lib/fifo_lager/priv/lager.schema", "share/schema/04-lager.schema"},
    {template, "_build/default/lib/mdns_client_lib/priv/mdns_client.schema", "share/schema/06-mdns_client.schema"}
   ]}]}.

