%%
%% etc/app.config
%%
{fifo_dns_ip,           "0.0.0.0"}.
{fifo_dns_port,         "53"}.
{log_path,              "/var/log/fifo_dns"}.
{db_path,               "/var/db/fifo_dns"}.

{service,               "fifo_dns"}.
{bugsnag_app,           "fifo_dns"}.
{bugsnag_release_state, "dev"}.
{bugsnag_app_version,   "0.7.3"}.

%%
%% etc/vm.args
%%
{node,                  "fifo_dns@127.0.0.1"}.
{crash_dump,            "/var/log/fifo_dns"}.
{cookie,                "fifo_dns"}.
{run_user,              "fifo_dns"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "fifo_dns.conf"}.
